<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
</head>

<body>
    <header class="navegador" id="nav1">
        <ul>
            <p>BARRA DE HERRAMIENTAS</p>
        </ul>
    </header>
    <div id="di">
        <aside>
            <p>CONTENIDO SECUNDARIO</p>
        </aside>
        <main>
            <header class="navegador" id="nav2">
                <ul id="ul2">
                    <p>SUB BARRA DE HERRAMIENTAS</p>
                </ul>
            </header>
            <section id="box">
                <p></p>
            </section>
        </main>
    </div>



</body>

</html>