* {
    box-sizing: border-box;
}

.navegador ul{
    list-style-type: none;
    text-align: center;
 }

 .navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 }

 .navegador li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
 }

 .navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
 }

 body{
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 20% 80%;
 }

 #nav1{
   background: #333333;
   font-family: sans-serif;
 }

 #di{

    display: grid;
    grid-template-columns: 30% 70%;   
 }

 aside{
   background: #C3F1FF;
   font-family: sans-serif;
 }

 main{   
    background: #F2FCFF;
    display: grid;
    grid-template-rows: 20% 80%;        
 }

 #nav2{
    font-family: sans-serif;     
 }

 #box{
   font-family: sans-serif;   
 }
 
 #ul2{
    list-style-type: none;
    text-align: center;    
 }