body {
  margin: 0;
  border: 1px solid #DBDBDB;
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
}

aside {
  height: fit-content;
  text-align: center;
}

main {
  border: 1px solid gray;
  display: block;
  height: fit-content;
}

header {
  background: #DBDBDB;
  height: 70px;
  font-family: sans-serif;
  text-align: center;
  font-size: 35px;
  padding: 20px;
}

input {
  background: white;
  border: 1px solid #DBDBDB;
  border-radius: 25px;
  width: 925px;
  height: 48px;
  color: #8F8F8F;
  padding-left: 10px;
}

.lista-contactos {
  border: 1px #DBDBDB;
  background: white;
}

.lista-contactos article {
  border: 1px solid #DBDBDB;
  font-family: sans-serif;
  height: 70px;
  text-align: center;
}

.contenedor-mensajes {
  font-family: sans-serif;
  border: 1px solid #DBDBDB;
  background: #F2F2F2;
  height: 400px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

