body {
  margin: 0;
}

main {
  display: block;
}

* {
  box-sizing: border-box;
}

.contenedor-principal h1 {
  padding-top: 0px;
  text-align: center;
  font-family: "calibri", sans-serif;
  margin: 0px;
}

.contenedor-artistas {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.34%;
  grid-gap: 10px;  
}

.contenedor-artistas article {
  padding: 10px;
  background: #5AD2AE;
  border: 1px solid #469F85;
  color: white;
  text-align: center;
  font-family: "calibri", sans-serif;
  display: grid;
  justify-content: center;
  border-radius: 20px;
}

.contenedor-artistas img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.contenedor-principal {
  margin: 0 auto;
  padding:  40px;
  padding-left: 20px;
  grid-gap: 40px;
  width: 500px;
  box-sizing: border-box;
  border-radius: 30px;
  background: #F2FCFF;
  border: 2px solid #C3F1FF;
}

article {
width: 145px;
height: 145px;
}